# Main app
VITE_APP_URL=https://exampleurl.com
VITE_APP_DOMAIN=exampleurl.com

# Firebase (Realtime Database)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Optional: external Help Center URL
# VITE_HELP_URL=https://help.exampleurl.com
VITE_HELP_DOMAIN=help.exampleurl.com
